/* general */

html { height: 95%; }
 

body {
    font-size:100%;
    height:100%;
}
* { font-family: Gentium, serif; }

/* main holds all this
/*     [                 header                   ]   */
/*     [           ][                             ]   */  
/*     [           ][                             ]   */  
/*     [   menu    ][        contents             ]   */  
/*     [           ][                             ]   */  
/*     [           ][                             ]   */  


div#main
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  80%;
    min-width: 60em;
    position: relative;
    height: 100%;
}

div#header
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 72px;
}

span#header 
{
  position:relative;
  top: 50%;
  display:block;
  font-size: 1.3em;
  vertical-align: bottom;
}

div.menu
{
  position:absolute;
  display: block;
  width: 10%;
}

ul.menu
{
  list-style-type: none;
  padding:10px;
}

.Wt-itemview
{
 /* height: 10em; */
}

.Wt-spinbox
{
    width: 3em

}

.Wt-treetable table.even
{
    background-color: #fff;
}


a:visited, a:link
{
    text-decoration:none;
    border-bottom:1px dotted #aaa;
}

a.no_ul
{
    text-decoration:none;
    border-bottom:0px; 
}
