acomms/amac/amac_simple/amac_simple
acomms/chat/chat-ping.diff
acomms/dccl/dccl_simple/dccl_simple
acomms/dccl/two_message/two_message
acomms/modemdriver/driver_simple/driver_simple
acomms/modemdriver/whoi_ranging/whoi_ranging
acomms/queue/multimessage/queue_multimessage
acomms/queue/queue_simple/queue_simple
moos/abc_frontseat_driver/libgoby_frontseat_abc.so
moos/gobyexample_protobuf/libgobyexample_protobuf.so
util/flexostream_simple/flexostream_simple
